body{
    background-color: black;
}

.cuadrado{
    background-color:rgb(44, 41, 41);
    width:150px;
    height:200px;
    border-radius:30px;
    border-style:groove;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: rgb(44, 41, 41,0.5);

}
.linea1{
display: grid;
grid-template-columns: repeat(9,1fr);
gap: 1em;

}

h1{
    text-align:center;
     font-family:Arial Black;
     font-size: 8rem;
     color: white;
   
}